<div class="container about-inner">
  <div class="about-grid">
    <div class="about-content">
      <h2>ABOUT ME</h2>
      <a class="email" href="mailto:ghufrontamami1@gmail.com"
        >ghufrontamami1@gmail.com</a
      >

      <p class="lead">
        Saya adalah fresh graduate dari Universitas Muria Kudus dengan gelar
        Sarjana Sistem Informasi. Saya memiliki minat yang besar dalam
        pengembangan perangkat lunak dan teknologi terbaru. Selama masa studi,
        saya telah mengerjakan berbagai proyek yang melibatkan pengembangan
        aplikasi web.
      </p>

      <div class="about-meta">
        <div class="meta-block">
          <h4>Programming Skills</h4>
          <ul>
            <li>PHP</li>
            <li>Laravel</li>
            <li>JavaScript</li>
            <li>MySQL</li>
            <li>Python</li>
          </ul>
        </div>

        <div class="meta-block">
          <h4>Interests</h4>
          <ul>
            <li>Web Development</li>
            <li>ERP</li>
            <li>Machine Learning</li>
          </ul>
        </div>
      </div>

      <p class="location">Jawa Tengah, Indonesia<br />Kudus</p>
    </div>

    <div
      class="about-photo"
      role="img"
      aria-label="Photo of Ghufron Tamami"
    ></div>
  </div>
</div>
