<div class="container about-inner portfolio-inner">
  <h2>Portfolio</h2>

  <div class="portfolio-grid">
    <a
      href="https://github.com/ghufron111/spk_pns"
      class="card meta-block portfolio-card"
    >
      <h4>Sistem Rekomendasi Kenaikan Pangkat</h4>
      <p>Aplikasi web untuk rekomendasi kenaikan pangkat PNS</p>
    </a>

    <a
      href="https://github.com/ghufron111/travel"
      class="card meta-block portfolio-card"
    >
      <h4>Aplikasi Web Travel</h4>
      <p>Aplikasi web untuk pemesanan tiket travel</p>
    </a>

    <a
      href="https://github.com/ghufron111/202153111_Analisis-Sentimen-MobileJKN"
      class="card meta-block portfolio-card"
    >
      <h4>Sentiment Analysis Mobile JKN</h4>
      <p>Aplikasi analisis ulasan pengguna aplikasi Mobile JKN</p>
    </a>
  </div>
</div>

<style>
  .portfolio-card {
    text-decoration: none;
    color: inherit;
    display: block;
  }
</style>
